<template>
	<div class="grey darken-1 empty-layout">
		<router-view/>
	</div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        methods: {},
        computed: {
            ...mapGetters( [ 'error' ] )
        },
        watch: {
            error(){
                this.$myError( this.error.message || 'Такой email уже зарегистрирован' )
			}
		}
    }
</script>

<style scoped lang="scss">

</style>
