<template>
	<div>
		<Loader v-if="loading"/>
		<div v-else class="app-main-layout">
			<nav-bar @cliick="isOpen = !isOpen"/>

			<side-bar v-model="isOpen"/>

			<main class="app-content" :class="{full: !isOpen}">
				<div class="app-page">
					<router-view/>
				</div>
			</main>

			<div class="fixed-action-btn">
				<router-link class="btn-floating btn-large blue" to="/record">
					<i class="large material-icons" v-tooltip="'Создать новую запись'">add</i>
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
    import NavBar from "../components/app/NavBar"
    import SideBar from "../components/app/SideBar"


    export default {
        props: {},
        data() {
            return {
                isOpen: true,
                loading: true
            }
        },
        computed: {},
        components: {
            NavBar,
            SideBar
        },
        async mounted() {
            if ( !Object.keys( this.$store.getters.info ) ) {
               await this.$store.dispatch( 'FETCH_INFO' )
            }
            this.loading = false
        }
    }
</script>

<style scoped lang="scss">

</style>
