<template>
	<nav class="navbar orange lighten-1">
		<div class="nav-wrapper">
			<div class="navbar-left">
				<a href="#" @click.prevent="$emit('cliick')">
					<i class="material-icons black-text">dehaze</i>
				</a>
				<span class="black-text">{{ date | date('datetime') }}</span>
			</div>

			<ul class="right hide-on-small-and-down">
				<li>
					<a
							class="dropdown-trigger black-text"
							href="#"
							ref="dropdown"
							data-target="dropdown"
					>
						{{ this.getUser.name }}
						<i class="material-icons right">arrow_drop_down</i>
					</a>

					<ul id='dropdown' class='dropdown-content'>
						<li>
							<router-link to="/profile" class="black-text">
								<i class="material-icons">account_circle</i>Профиль
							</router-link>
						</li>
						<li class="divider" tabindex="-1"></li>
						<li>
							<a href="#" class="black-text" @click.prevent="logout">
								<i class="material-icons">assignment_return</i>Выйти
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</template>

<script>
    import { mapActions, mapGetters} from "vuex"

    export default {
        props: {},
        data() {
            return {
                date: new Date(),
                interval: null,
                dropdown: null
            }
        },
        computed: {
            ...mapGetters(['getUser'])
		},
        methods: {
            ...mapActions( [ 'LOGOUT' ] ),
            async logout() {
                await this.LOGOUT()
                await this.$router.push( '/login?message=logout' )
            }
        },
        mounted() {
            this.interval = setInterval( () => {
                this.date = new Date()
            }, 1000 )

            this.dropdown = M.Dropdown.init( this.$refs.dropdown, { constrainWidth: true } )
        },
        beforeDestroy() {
            if ( this.dropdown && this.dropdown.destroy ) {
                this.dropdown.destroy()
            }
            clearInterval( this.interval )
        }
    }
</script>

<style scoped lang="scss">

</style>
