<template>
	<div>
		<div class="page-title">
			<h3>Категории</h3>
		</div>
		<section>
			<Loader v-if="loading"/>
			<div class="row" v-else>
				<category-create @created="AddNewCategory"/>

				<category-edit
						v-if="categories.length"
						:categories="categories"
						:key="categories.length + updateCount"
						@updated="updateCategories"
				/>
				<p v-else class="center">Категорий пока нет</p>
			</div>
		</section>
	</div>
</template>

<script>
    import CategoryCreate from '../components/CategoryCreate'
    import CategoryEdit from '../components/CategoryEdit'

    export default {
        data() {
            return {
                categories: [],
                loading: true,
                updateCount: 0
            }
        },
        methods: {
            AddNewCategory( category ) {
                this.categories.push( category )

            },
            updateCategories( category ) {
                const idx = this.categories.findIndex( c => c._id === category.id )
                this.categories[ idx ].title = category.title
                this.categories[ idx ].limit = category.limit
                this.updateCount++
            }
        },
        components: {
            CategoryCreate, CategoryEdit
        },
        async mounted() {
            this.categories = await this.$store.dispatch( 'FETCH_CATEGORIES' )
            this.loading = false
        }
    }
</script>
