<template>
		<div>
			<Loader v-if="loading" />
			<div v-else-if="record">
				<div class="breadcrumb-wrap">
					<router-link to="/history" class="breadcrumb">История</router-link>
					<a  @click.prevent class="breadcrumb">{{ record.type === 'income' ? 'Доход' : 'Расход' }}</a>
				</div>
				<div class="row">
					<div class="col s12 m6">
						<div
								class="card"
								:class="[record.type === 'income' ? 'green' : 'red']"
						>
							<div class="card-content white-text">
								<p>Описание: {{ record.description }}</p>
								<p>Сумма: {{ record.amount | currency}}</p>
								<p>Категория: {{ record.title }}</p>
								<br>
								<small>{{record.date}}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p class="center" v-else>Запись с id {{ this.$route.params.id }} не найдена</p>
		</div>
</template>

<script>
    export default {
        props: {},
        data() {
            return {
                record: null,
				loading: true
			}
        },
        computed: {},
        methods: {},
        async mounted() {
            const id =  this.$route.params.id
            const data  = await this.$store.dispatch( 'GET_RECORD_BYID', id )
            this.record = await data

			this.loading = false

			console.log(this.record);
        },
        created() {
        },
    }
</script>

<style scoped lang="scss">

</style>
