<template>
	<div>
		<div class="page-title">
			<h3>История записей</h3>
		</div>

		<div class="history-chart">
			<canvas ref="canvas"></canvas>
		</div>

		<Loader v-if="loading"/>
		<p class="center" v-else-if="!records.length">Записей пока нет</p>
		<section v-else>
			<history-table
					:records="items"
			/>
			<Paginate
					style="padding-top: 40px"
					class="center"
					v-model="page"
					:page-count="pageCount"
					:click-handler="pageChangeHandler"
					:prev-text="'Назад'"
					:next-text="'Вперед'"
					:container-class="'pagination'"
					:page-class="'waves-effect'"
			/>
		</section>
	</div>
</template>

<script>
    import HistoryTable from "../components/HistoryTable"
    import paginationMixin from '../mixins/pagination.mixin'
    import { Pie } from 'vue-chartjs'

    export default {
        extends: Pie,
        name: 'history',
        mixins: [ paginationMixin ],
        props: {},
        data() {
            return {
                loading: true,
                records: [],
                categories: [],
            }
        },
        computed: {},
        components: {
            HistoryTable
        },
        async mounted() {
            const [ categories, records ] = await this.$store.dispatch( 'FETCH_RECORDS' )
            this.records = records
            this.setupPagination( this.records.map( record => {
                return {
                    ...record,
                    categoryName: categories.find( c => c._id === record.categoryId ).title,
                    typeClass: record.type === 'income' ? 'green' : 'red',
                    typeText: record.type === 'income' ? 'Доход' : 'Расход',
                    date: record.date
                }
            } ) )
			console.log('CAT --', categories);
			console.log('REC --', this.records);
            this.renderChart( {
                labels: categories.map(c => c.title),
                datasets: [ {
                    label: 'Расходы по категориям',
                    data: categories.map(c => {
                        return this.records.reduce((total, r)=>{
                            if ( r.categoryId === c._id && r.type === 'outcome' ) {
                                total += Number( r.amount )
                            }
                            return total
						}, 0)
					}),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                } ]} )

            this.loading = false
        },
        created() {
        },
    }
</script>

<style scoped lang="scss">

</style>
