<template>
	<div>
		<div class="page-title">
			<h3>Счет</h3>

			<button class="btn waves-effect waves-light btn-small">
				<i class="material-icons" @click="refresh">refresh</i>
			</button>
		</div>

		<Loader v-if="loading"/>

		<div v-else class="row">
			<home-bill
					:rates="currency.rates"
			/>
			<home-currency
					:rates="currency.rates"
					:date="currency.date"
			/>
		</div>
	</div>
</template>

<script>
    import HomeBill from "../components/HomeBill"
    import HomeCurrency from "../components/HomeCurrency"

    export default {
        data: () => ( {
            loading: true,
            currency: null
        } ),
        components: {
            HomeBill,
            HomeCurrency
        },
        methods: {
            async refresh() {
                this.loading = true
                this.currency = await this.$store.dispatch( 'FETCH_CURRENCY' )
                this.loading = false
            }
        },
        async mounted() {
            this.currency = await this.$store.dispatch( 'FETCH_CURRENCY' )
            this.loading = false
        }
    }
</script>

<style scoped lang="scss">

</style>
