<template>
	<form class="card auth-card" @submit.prevent="submitHandler">
		<div class="card-content">
			<span class="card-title">Домашняя бухгалтерия</span>
			<div class="input-field">
				<input
						id="email"
						type="text"
						v-model.trim="email"
						:class="{invalid: (this.$v.email.$dirty && !this.$v.email.required) || (this.$v.email.$dirty && !this.$v.email.email) }"
				>
				<label for="email">Email</label>
				<small
						v-if="this.$v.email.$dirty && !this.$v.email.required"
						class="helper-text invalid"
				>Поле Email не должно быть пустым</small>
				<small
						v-else-if="this.$v.email.$dirty && !this.$v.email.email"
						class="helper-text invalid"
				>Введите корректный Email</small>
			</div>
			<div class="input-field">
				<input
						id="password"
						type="password"
						v-model.trim="password"
						:class="{invalid: (this.$v.password.$dirty && !this.$v.password.required) || (this.$v.password.$dirty && !this.$v.password.minLength) }"
				>
				<label for="password">Пароль</label>
				<small
						v-if="this.$v.password.$dirty && !this.$v.password.required"
						class="helper-text invalid"
				>Введите пароль</small>
				<small
						v-else-if="this.$v.password.$dirty && this.$v.password.required"
						class="helper-text invalid"
				>Пароль должен быть {{ this.$v.password.$params.minLength.min }} символов. Сейчас он {{ password.length
					}} </small>
			</div>
		</div>
		<div class="card-action">
			<div>
				<button
						class="btn waves-effect waves-light auth-submit"
						type="submit"
				>
					Войти
					<i class="material-icons right">send</i>
				</button>
			</div>

			<p class="center">
				Нет аккаунта?
				<router-link to="/register">Зарегистрироваться</router-link>
			</p>
		</div>
	</form>
</template>

<script>
    import { email, required, minLength } from 'vuelidate/lib/validators'
    import { mapActions } from 'vuex'
    import messages from "../utils/messages"

    export default {
        data() {
            return {
                email: '',
                password: ''
            }
        },
        validations: {
            email: {
                email,
                required
            },
            password: {
                required,
                minLength: minLength( 6 )
            }
        },
        methods: {
            ...mapActions( [ 'LOGIN_USER' ] ),
            async submitHandler() {
                if ( this.$v.$invalid ) {
                    this.$v.$touch()
                    return
                }
                const formData = {
                    email: this.email,
                    password: this.password
                }
                try {
                    await this.LOGIN_USER( formData )
                    this.$router.push( '/' )
                } catch ( e ) {}
            }
        },
        mounted() {
            if ( messages[ this.$route.query.message ] ) {
                this.$myMessage( messages[ this.$route.query.message ] )
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
