<template>
	<div>
		<div class="page-title">
			<h3>Планирование</h3>
			<h4>{{ info.wallet }}</h4>
		</div>
		<Loader v-if="loading"/>

		<p v-else-if="!categories.length" class="center">Категорий пока нет.
			<router-link to="/categories">Добавить новую категорию</router-link>
		</p>

		<section v-else>
			<div v-for="cat of categories" :key="cat._id">
				<p>
					<strong>{{cat.title}}</strong>
					{{ cat.spend | currency }} из {{cat.limit | currency }}
				</p>
				<div class="progress" v-tooltip="cat.tooltip">
					<div
							class="determinate"
							:class="[cat.progressColor]"
							:style="{width: cat.progressPercent + '%'}"
					></div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
    import { mapGetters } from "vuex"
	import currencyFilter from "../filters/currency.filter"
    export default {
        props: {},
        data() {
            return {
                loading: null,
                categories: []
            }
        },
        computed: {
            ...mapGetters( [ 'info' ] )
        },
        methods: {},
        async mounted() {
            const [ categories, records ] = await this.$store.dispatch( 'FETCH_RECORDS' )
            this.categories = categories.map( cat => {
                const spend = records
                    .filter( r => r.categoryId === cat._id )
                    .filter( r => r.type === 'outcome' )
                    .reduce( ( acc, next ) => {
                        acc += next.amount
                        return acc
                    }, 0 )

                const percent = (100 * spend) / cat.limit
                const progressPercent = percent > 100 ? 100 : percent
                const progressColor = percent < 60
                    ? 'green'
                    : percent < 100
                        ? 'yellow'
                        : 'red'

				const tooltipValue = cat.limit - spend
                const tooltip = `${ tooltipValue < 0 ? 'Превышение на' : 'Осталось ' } ${ currencyFilter(Math.abs( tooltipValue )) }`
                return {
                    ...cat,
                    progressPercent,
                    progressColor,
                    spend,
                    tooltip
                }
            } )
            console.log( this.categories );

            this.loading = false
        },
        created() {
        },
    }
</script>

<style scoped lang="scss">

</style>
