<template>
	<div class="app-page">

		<div>
			<div class="page-title">
				<h3>Новая запись</h3>
			</div>
			<Loader v-if="loading"/>

			<p v-else-if="!categories.length" class="center">Категорий пока нет.
				<router-link to="/categories">Добавить новую категорию</router-link>
			</p>

			<form class="form" v-else @submit.prevent="handleSubmit">
				<div class="input-field">
					<select ref="select" v-model="title" @change="categoryChange(title)">
						<option
								v-for="c in categories"
								:key="c._id"
						>{{c.title}}
						</option>
					</select>
					<label>Выберите категорию</label>
				</div>

				<p>
					<label>
						<input
								class="with-gap"
								name="type"
								type="radio"
								value="income"
								v-model="type"
						/>
						<span>Доход</span>
					</label>
				</p>

				<p>
					<label>
						<input
								class="with-gap"
								name="type"
								type="radio"
								value="outcome"
								v-model="type"
						/>
						<span>Расход</span>
					</label>
				</p>

				<div class="input-field">
					<input
							id="amount"
							type="number"
							v-model.number="amount"
							:class="{invalid: this.$v.amount.$dirty && !this.$v.amount.minValue}"
					>
					<label for="amount">Сумма</label>
					<span
							v-if="this.$v.amount.$dirty && !this.$v.amount.minValue"
							class="helper-text invalid"
					>Минимальное значение {{ this.$v.amount.$params.minValue.min }}</span>
				</div>

				<div class="input-field">
					<input
							id="description"
							type="text"
							v-model="description"
							:class="{invalid: this.$v.description.$dirty && !this.$v.description.required}"
					>
					<label for="description">Описание</label>
					<span
							v-if="this.$v.description.$dirty && !this.$v.description.required"
							class="helper-text invalid"
					>Введите описание</span>
				</div>

				<button class="btn waves-effect waves-light" type="submit">
					Создать
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>

	</div>
</template>

<script>
    import { required, minValue } from 'vuelidate/lib/validators'
    import { mapGetters, mapActions } from "vuex"

    export default {
        props: {},
        data() {
            return {
                title: '',
                loading: true,
                select: null,
                categories: [],
                categoryId: '',
                type: 'outcome',
                amount: 1,
                description: ''
            }
        },
        validations: {
            amount: { minValue: minValue( 1 ) },
            description: { required, }
        },
        computed: {
            ...mapGetters( [ 'info' ] ),
            canCreateRecord() {
                if ( this.type === 'income' ) {
                    return true
                }
                return this.info.wallet >= this.amount
            }
        },
        methods: {
            ...mapActions( [ 'CREATE_RECORD' ] ),
            async handleSubmit() {
                if ( this.$v.$invalid ) {
                    this.$v.$touch()
                    return
                }
                if ( this.canCreateRecord ) {
                    try {
                        const data = {
                            title: this.title,
                            categoryId: this.categoryId._id,
                            amount: this.amount,
                            description: this.description,
                            type: this.type,
                            date: new Date().toLocaleString()
                        }
                        console.log(data);
                       await this.CREATE_RECORD( data )
                    } catch ( e ) {
                    }
                } else {
                    this.$myMessage( `Недостаточно средств на счете (${ this.amount - this.info.wallet })` )
                }
            },
            categoryChange(e){
				this.categoryId = this.categories.find(c => c.title === e)
            }
        },
        async mounted() {
            this.categories = await this.$store.dispatch( 'FETCH_CATEGORIES' )
            this.loading = false

            if ( this.categories.length ) {
                this.category = this.categories[ 0 ]._id
            }

            setTimeout( () => {
                this.select = M.FormSelect.init( this.$refs.select )
                M.updateTextFields()
            }, 0 )

        },
        destroyed() {
            if ( this.select && this.select.destroy ) {
                this.select.destroy()

            }
        }
    }
</script>

<style scoped lang="scss">

</style>
