<template>
	<div class="col s12 m6">
		<div>
			<div class="page-subtitle">
				<h4>Редактировать</h4>
			</div>

			<form @submit.prevent="submitHandler">
				<div class="input-field">
					<select ref="select" v-model="current">
						<option
								v-for="c in categories"
								:key="c._id"
								:value="c._id"
						>{{c.title}}
						</option>
					</select>
					<label>Выберите категорию</label>
				</div>

				<div class="input-field">
					<input
							id="name"
							type="text"
							v-model="title"
							:class="{invalid: this.$v.title.$dirty && !this.$v.title.required}"
					>
					<label for="name">Название</label>
					<span
							v-if="this.$v.title.$dirty && !this.$v.title.required"
							class="helper-text invalid"
					>Введите название категории</span>
				</div>

				<div class="input-field">
					<input
							id="limit"
							type="number"
							v-model.number="limit"
							:class="{invalid: this.$v.limit.$dirty && !this.$v.limit.minValue}"
					>
					<label for="limit">Лимит</label>
					<span
							v-if="this.$v.limit.$dirty && !this.$v.limit.minValue"
							class="helper-text invalid"
					>Минимальное значение {{ this.$v.limit.$params.minValue.min }}</span>
				</div>

				<button class="btn waves-effect waves-light" type="submit">
					Обновить
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>
</template>

<script>
    import { required, minValue } from 'vuelidate/lib/validators'
    import { mapActions } from "vuex"

    export default {
        name: "CategoryEdit",
        props: {
            categories: {
                type: Array,
                required: true
            }
        },
        data: () => ( {
            select: null,
            title: '',
            limit: 100,
            current: null
        } ),
        validations: {
            title: { required },
            limit: { minValue: minValue( 100 ) }
        },
        methods: {
            ...mapActions(['UPDATE_CATEGOTY']),
            async submitHandler() {
                if ( this.$v.$invalid ) {
                    this.$v.$touch()
                    return
                }
                try {
                    const categoryData = {
                        id: this.current,
						title: this.title,
						limit: this.limit
					}
					await this.UPDATE_CATEGOTY(categoryData)
					this.$myMessage('Катерогия успешно обновлена!')
					this.$emit('updated', categoryData)
                } catch ( e ) {

                }

            }
        },
        watch: {
            current( catId ) {
                const { title, limit } = this.categories.find( c => c._id === catId )
                this.title = title
                this.limit = limit
            }
        },
        created() {
            const { _id, title, limit } = this.categories[ 0 ]
            this.current = _id
            this.title = title
            this.limit = limit
        },
        mounted() {
            this.select = M.FormSelect.init( this.$refs.select )
            M.updateTextFields()
        },
        destroyed() {
            if ( this.select && this.select.destroy ) {
                this.select.destroy()

            }
        }
    }
</script>

<style scoped>

</style>
