<template>
	<div class="col s12 m6">
		<div>
			<div class="page-subtitle">
				<h4>Создать</h4>
			</div>

			<form @submit.prevent="submitHandler">
				<div class="input-field">
					<input
							id="name"
							type="text"
							v-model="title"
							:class="{invalid: this.$v.title.$dirty && !this.$v.title.required}"
					>
					<label for="name">Название</label>
					<span
							v-if="this.$v.title.$dirty && !this.$v.title.required"
							class="helper-text invalid"
					>Введите название категории</span>
				</div>

				<div class="input-field">
					<input
							id="limit"
							type="number"
							v-model.number="limit"
							:class="{invalid: this.$v.limit.$dirty && !this.$v.limit.minValue}"
					>
					<label for="limit">Лимит</label>

					<span
							v-if="this.$v.limit.$dirty && !this.$v.limit.minValue"
							class="helper-text invalid"
					>Минимальное значение {{ this.$v.limit.$params.minValue.min }}</span>
				</div>

				<button class="btn waves-effect waves-light" type="submit">
					Создать
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>
</template>

<script>
    import { required, minValue } from 'vuelidate/lib/validators'
    import { mapActions } from "vuex"

    export default {
        name: "CategoryCreate",
        data: () => ( {
            title: '',
            limit: 100
        } ),
        validations: {
            title: { required },
            limit: { minValue: minValue( 100 ) }
        },
        methods: {
            ...mapActions( [ 'CREATE_CATEGORY' ] ),
            async submitHandler() {
                if ( this.$v.$invalid ) {
                    this.$v.$touch()
                    return
                }
                try {
                    const category = await this.CREATE_CATEGORY( {
                        title: this.title,
                        limit: this.limit
                    } )
					this.title = ''
					this.limit = 100
                    this.$v.$reset()
					console.log(category);
					this.$emit('created', category)
					this.$myMessage('Категория была создана!')
                } catch ( e ) {
                    console.log('ЗАШЕЛ catch ', this.$v.$invalid);
                }

            }
        },
        mounted() {
            console.log(this.$store.getters.info);
            M.updateTextFields()
        }
    }
</script>

<style scoped>

</style>
