<template>
	<table>
		<thead>
		<tr>
			<th>#</th>
			<th>Сумма</th>
			<th>Дата</th>
			<th>Категория</th>
			<th>Тип</th>
			<th>Открыть</th>
		</tr>
		</thead>

		<tbody>
		<tr v-for="(rec, indx) in records" :key="rec._id">
			<td>{{indx + 1}}</td>
			<td>{{rec.amount | currency('RUB')}}</td>
			<td>{{ rec.date }}</td>
			<td>{{rec.categoryName}}</td>
			<td>
				<span
						class="white-text badge"
						:class="[rec.typeClass]"
				>{{rec.typeText}}</span>
			</td>
			<td>
				<button
						v-tooltip="'Посмотреть запись'"
						class="btn-small btn"
						@click="goToDetail(rec._id)"
				>
					<i class="material-icons">open_in_new</i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</template>

<script>
    export default {
        name: "HistoryTable",
        props: {
            records: {
                type: Array,
                required: true
            }
        },
		methods: {
            goToDetail(id){
                this.$router.push('/detail/'+ id)
			}
		},
    }
</script>

<style scoped>

</style>
